<% include ./partials/head.ejs %>
<body>
    <% include ./partials/header.ejs %>
    <main>
        <div class="container mt-5">
            <div class="row">
                hello
                <% for (var i = 0; i < repas.length; i++) { %>
                    <li class="list-group-item liste_competences">
                   <h3> <%= repas[i].plat-principal %> </h3>  
               </li>                         
            <% } %>
            </div>
        </div>
    </main>
</body> 