<% include ./partials/head.ejs %>
<body>
    <% include ./partials/header.ejs %>
    <main>
        <div class="container mt-5">
            <div class="row">
                <ul class=" w-50 list-group list-group-flush">
            <%repas.forEach(function(datas){ %>
                <li class="list-group-item">
                <div class="row">
                    <div class="col-6 text-left"><%= datas.entry %></div>
                    <div class="col-6 text-right">
                        
                    </div>
                </div>
            </li>
            <% }); %>
            </div>
        </div>
    </main>
</body> 